    <!-- Footer -->
    <footer class="bg-gray-800 py-8 mt-auto font-extrabold">
        <div class="container mx-auto flex flex-col items-center">
          <!-- Social Media Links -->
          <div class="flex justify-center lg:space-x-12 space-x-8">
            <a href="https://www.github.com/lenoben"><i class="fab fa-github text-white lg:text-3xl text-xl"></i></a>
            <a href="https://www.instagram.com/obj.ohn/"><i class="fab fa-instagram text-white lg:text-3xl text-xl"></i></a>
            <a href="mailto:johnobi2003@gmail.com"><i class="far fa-envelope text-white lg:text-3xl text-xl"></i></a>
            <a href="https://wa.me/+2348064137392"><i class="fab fa-whatsapp text-white lg:text-3xl text-xl"></i></a>
            <a href="https://wa.me/+905338265119"><i class="fab fa-whatsapp text-white lg:text-3xl text-xl"></i></a>
          </div>
          <!-- Made by -->
           <div class="flex gap-8 justify-center items-center p-4">
            visit me here: => <a href="https://lenoben.pages.dev">my website</a>
           </div>
          <div>
            <p class="text-white lg:text-2xl text-xl mt-2">Made by an european univerisity student</p>
          </div>
        </div>
      </footer>
    </body>
  </html>