<%- include('_nav', { scriptLabel: scriptLabel }); %>

<div class="container mx-auto py-8">
    <div class="mt-8 flex flex-col">
    <!-- -->
    <h1 class="text-4xl font-bold mb-6 text-center text-white">About The Project</h1>
    <p class="text-2xl text-white leading-relaxed ml-6">
      Description
    </p>
    <p class="text-lg text-white m-6 lg:text-justify">
      The aim is to address the challenge of analyzing the sentiment in text data. Sentiment analysis involves determining the emotional tone expressed in a piece of text, classifying it as positive or negative. This is crucial for understanding user and public opinions, customer feedback, and social media sentiment. Where the problem lies is in accurately categorizing diverse textual inputs which may contain subtle nuances and context-dependent sentiments. The challenge is to develop a robust system that can with less issues discern sentiments effectively and provide valuable insights into the emotional tone of the text. Large text volumes are time-consuming to analyze and very easily prone to bias.
    </p>
    <!-- -->
    <h1 class="text-4xl font-bold m-6 text-white">Result and Experiments:</h1>
    <p class="text-lg text-white leading-relaxed ml-6">
      Description
    </p>
    <p class="text-lg text-white m-6 lg:text-justify">
      The aim is to address the challenge of analyzing the sentiment in text data. Sentiment analysis involves determining the emotional tone expressed in a piece of text, classifying it as positive or negative. This is crucial for understanding user and public opinions, customer feedback, and social media sentiment. Where the problem lies is in accurately categorizing diverse textual inputs which may contain subtle nuances and context-dependent sentiments. The challenge is to develop a robust system that can with less issues discern sentiments effectively and provide valuable insights into the emotional tone of the text. Large text volumes are time-consuming to analyze and very easily prone to bias.
    </p>
    <!-- -->
    <h1 class="text-4xl font-bold m-6 text-white">Graph:</h1>
    <p class="text-lg text-white leading-relaxed ml-6">
      Description for img
    </p>
    <p class="m-6">
      <img src="img/model_results_chart.png" alt="model chart">
    </p>
    <p class="text-lg text-white m-6 lg:text-justify">
      The aim is to address the challenge of analyzing the sentiment in text data. Sentiment analysis involves determining the emotional tone expressed in a piece of text, classifying it as positive or negative. This is crucial for understanding user and public opinions, customer feedback, and social media sentiment. Where the problem lies is in accurately categorizing diverse textual inputs which may contain subtle nuances and context-dependent sentiments. The challenge is to develop a robust system that can with less issues discern sentiments effectively and provide valuable insights into the emotional tone of the text. Large text volumes are time-consuming to analyze and very easily prone to bias.
    </p>
    <p class="text-lg text-white ml-6 text-justify">
      Type of models built;
      <ul class="ml-6">
        <li>
          FFN
        </li>
        <li>
          Logistic Regression
        </li>
        <li>
          Linear Regression
        </li>
        <li>
          NMC
        </li>
        <li>
          KNN
        </li>
        <li>
          Random Forest
        </li>
      </ul>
    </p>
    <p class="text-lg text-white mt-6 ml-6 text-justify">
      Models Supported at the moment;
      <ul class="ml-6">
        <li>
          Logreg
        </li>
        <li>
          NMC
        </li>
      </ul>
    </p>
    <!-- -->
  </div>
</div>
  
<%- include('_footer') %>