<%- include('_nav', { scriptLabel: scriptLabel }); %>

<div class="container mx-auto py-8">
    <div class="mt-8 flex justify-center items-center flex-col">
    <h1 class="text-3xl font-bold mb-4">About The Project</h1>
    <p class="text-lg text-white m-4">
      The aim is to address the challenge of analysing the sentiment in text data. Sentiment analysis involves determining the emotional tone expressed in a piece of text, classifying it as positive or negative. This is crucial for understanding user and public opinions, customer feedback and social media sentiment. Where the problem lies is in accurately categorizing diverse textual inputs which may contain subtle nuances and context-dependent sentiments. The challenge is to develop a robust system that can with less issues discern sentiments effectively and provide valuable insights into the emotional tone of the text. Large text volumes are time consuming to analysis and very easily prone to bias.
    </p>

    <p class="text-lg text-white m-4">
    </p>
</div>
  </div>
  
<%- include('_footer') %>